<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nueva Contraseña</title>
    <link rel="stylesheet" href="/css/config.css">
</head>
<body>
    <div class="login-container">
        <h2>Nueva Contraseña</h2>
        <form th:action="@{/update-password}" method="post">
            <input type="hidden" name="token" th:value="${token}">
            <div>
                <label for="password">Nueva Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Actualizar Contraseña</button>
        </form>
        <p><a th:href="@{/login}">Iniciar Sesión</a></p>
    </div>
</body>
</html>
